* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

.header {
    height: 15vh;
    background: #0e1111;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ticket-filters {
    background: #353839;
    height: 40%;
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.filter {
    height: 50%;
    width: 8%;
    border-radius: 5px;
    opacity: 0.5;
}

.filter:hover {
    opacity: 1;
}

.blue {
    background: #3498db;
}

.yellow {
    background: #f1c40f;
}

.green {
    background: #2ecc71;
}

.black {
    background: #2c3e50;
}

.ticket-actions {
    height: 40%;
    width: 15%;
    background: #353839 ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.open-modal {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-modal {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.open-modal:hover , .close-modal:hover {
    background: #232b2b;
}

.tickets-content {
    min-height: 85vh;
    background: #dcdde1;
    position: relative;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 20px;
    justify-content: space-evenly;
}

.ticket-actions .fas {
    font-size: 1.5rem;
    color: white;
}

.active-filter {
    opacity: 1 !important;
    border: 1px solid white;
}

.modal {
    height: 40vh;
    width: 40vw;
    /* background: violet; */
    position: absolute;
    top: 100px;
    left: calc(50% - 20vw);
    /* border: 2px solid; */
    display: flex;
}

.modal-text {
    background: white;
    height: 100%;
    outline: none;
    width: 70%;
    padding: 10px;
    font-size: 1.5rem;
    overflow: auto;
}

.modal-filter-options {
    height: 100%;
    width: 30%;
    background: #0e1111;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.modal-filter {
    height: 15%;
    width: 60%;
    opacity: 0.5;
}

.modal-filter:hover {
    opacity: 1;
}

.ticket {
    height: 20vh;
    width: 40vh;
    /* background: blueviolet; */
}

.ticket-filter {
    height: 15%;
}

.ticket-content {
    height: 85%;
    background: white;
    padding: 10px;
}

.ticket-id {
    font-weight: bold;
}

.ticket-text {
    text-align: center;
    margin-top: 10px;
    word-break: break-all;
}
.ticket-info{
    display: flex;
    justify-content: space-between;
}
.ticket-delete{

}
.fas.blue{    
    color:#3498db;
    background: none;
}
.fas.green{
    color:#2ecc71;
    background: none;
}
.fas.black{
    color:black;
    background: none;
}
.fas.yellow{
    color:#f1c40f;
    background: none;
}

